!!! 5
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        title flask-vue-skeleton
        {{ stylesheet_tag('chunk-vendors') | safe }}
        {{ stylesheet_tag('index') | safe }}
    body
        include _flash

        block body

        {{ javascript_tag('chunk-vendors') | safe }}
        {{ javascript_tag('index') | safe }}